* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(163, 162, 162);
}
.machine {
    margin-top: 100px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 300px;
    background-color: rgb(48, 105, 61);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(66, 66, 66);
}
.lights-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15px;
    margin: 2px;
}
.left-signal, .right-signal {
    display: flex;
    width: 15px;
    height: 10px;
    border-radius: 3px;
    background-color: rgb(205, 207, 206);
    
}
.left-signal-active{
background-color: orange;
box-shadow: -50px -8px 80px 50px orange
}
.right-signal-active{
background-color: orange;
box-shadow: 50px 8px 80px 50px orange
}
.lights1,
.lights2 {
    display: flex;
    width: 30px;
    height: 10px;
    background-color: rgb(205, 207, 206);
    border-radius: 3px;
}
.lights-active {
    background-color: rgb(174, 232, 255);
    box-shadow: 0 -80px 80px 80px rgba(174, 232, 255, 0.733);
}
.front {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.wheel {
    width: 20px;
    height: 50px;
    background-color: black;
    border-radius: 7px;
    transition: all 1s;
    box-shadow: 2px 2px 15px rgb(58, 58, 58);
}
.wheel-right {
    transform: rotate(45deg);
}
.wheel-left {
    transform: rotate(-45deg);
}
.engine {
    /* margin-top: 10px; */
    display: flex;
    width: 50px;
    height: 70px;
    background-color: blue;
    border-radius: 5px;
}
.engine-active {
    /* margin-top: 10px; */
    background-color: red;
}
.rear {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.dashboard {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: rgba(82, 81, 80, 0.719);
    border-radius: 50px;
}
.stearing-wheel {
    width: 190px;
    height: 190px;
    transition: all 1s;
}
.start-stop {
    width: 30px;
    height: 30px;
    background-image: url("../img/button_play_15000.png");
    background-size: cover;
}
.start-stop-active {
    background-image: url("../img/button_pause_14998.png");
}
.light-btn {
    width: 30px;
    height: 30px;
    background-image: url("../img/button_no_15721.png");
    background-size: cover;
}
.light-btn-active {
    background-image: url("../img/button_exit_15724.png");
}
